.currusel{
    .xd{
        width: 300px;
    }
}
.visually-hidden{
    color: black;
}
.d-block .w-100 .w-80 {
    width: 10px; /* Cambia el valor según sea necesario */
}
.carousel-inner{
    width: 100px;


}
.conchetumare{
    width: 10000px;
    background-color: red;
}
.d-block.w-100.imgcarou{
    width: 100px;
    background-color: red;
  }